<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 1 - Images</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Page 1: Images</h1>
    <img src="C:\Users\abdou\OneDrive\Bureau\CDAJournéedeux\public\images\image1.JPG" alt="Image 1">
    <img src="C:\Users\abdou\OneDrive\Bureau\CDAJournéedeux\public\images\image2.JPG" alt="Image 2">
    <img src="C:\Users\abdou\OneDrive\Bureau\CDAJournéedeux\public\images\image3.JPG" alt="Image 3">
    <nav>
        <a href="/">Retour à l'accueil</a>
    </nav>
</body>
</html>
